Assignment2/.metadata/.lock
Assignment2/.metadata/.log
Assignment2/.metadata/.mylyn/.taskListIndex/segments.gen
Assignment2/.metadata/.mylyn/.taskListIndex/segments_1
Assignment2/.metadata/.mylyn/.tasks.xml.zip
Assignment2/.metadata/.mylyn/repositories.xml.zip
Assignment2/.metadata/.mylyn/tasks.xml.zip
Assignment2/.metadata/.plugins/impulse/dialog_settings.xml
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/12/f0e68431e5d50017126685cb152e62c5
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/2a/4074eb60e5d50017126685cb152e62c5
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/3d/90a458f694d5001712d6e820ebbe4c8a
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/48/c0094cdce4d50017126685cb152e62c5
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/81/70499f02e5d50017126685cb152e62c5
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/9c/4008856694d5001712d6e820ebbe4c8a
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/c0/70678aa91cd5001719c8a3f36f55eb08
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/dd/304fcb0be5d50017126685cb152e62c5
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.history/eb/90dad118e6d50017126685cb152e62c5
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/Clone_detection/.indexes/7/history.index
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/Clone_detection/.indexes/e4/history.index
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/Clone_detection/.indexes/properties.index
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/Clone_detection/.location
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/Clone_detection/.markers
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/Clone_detection/.markers.snap
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/Clone_detection/.syncinfo.snap
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/Clone_detection/org.eclipse.egit.core/GitProjectData.properties
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/smallsql0.21_src/.indexes/properties.index
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/smallsql0.21_src/.location
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/smallsql0.21_src/.markers
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/smallsql0.21_src/.markers.snap
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/smallsql0.21_src/.syncinfo.snap
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/smallsql0.21_src/org.eclipse.egit.core/GitProjectData.properties
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.projects/smallsql0.21_src/org.eclipse.jdt.core/state.dat
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
Assignment2/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Assignment2/.metadata/.plugins/org.eclipse.core.resources/2.snap
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/impulse.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.core.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Assignment2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Assignment2/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments.gen
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
Assignment2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/1039855981.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/1269183262.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/128816234.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/129033162.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/1358049608.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/1368552266.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/1548200603.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/166776846.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/2067893749.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/2388919603.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/2469326163.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/2607506073.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/2652778527.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/2661381517.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/3059158756.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/3804718844.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/3807279936.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/3929831863.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/4051047857.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/4182530004.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/4216667482.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/4274237055.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/680429552.index
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Assignment2/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Assignment2/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Assignment2/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Assignment2/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Assignment2/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Assignment2/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Assignment2/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Assignment2/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
Assignment2/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Assignment2/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Assignment2/.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTableLock
Assignment2/.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.tmp6269111977073055232.instance
Assignment2/.metadata/.plugins/org.eclipse.pde.core/.external_libraries/rascal_eclipse_0.9.1.201711051334/lib/rascal.jar
Assignment2/.metadata/.plugins/org.eclipse.pde.core/.local_targets/1511970226258.target
Assignment2/.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
Assignment2/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
Assignment2/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Assignment2/.metadata/.plugins/org.eclipse.ui.intro/introstate
Assignment2/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Assignment2/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Assignment2/.metadata/version.ini
Assignment2/Clone_detection/.metadata/.lock
Assignment2/Clone_detection/.metadata/.log
Assignment2/Clone_detection/.metadata/.mylyn/.taskListIndex/segments.gen
Assignment2/Clone_detection/.metadata/.mylyn/.taskListIndex/segments_1
Assignment2/Clone_detection/.metadata/.mylyn/repositories.xml.zip
Assignment2/Clone_detection/.metadata/.mylyn/tasks.xml.zip
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.projects/SE_Ass1/.indexes/properties.index
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.projects/SE_Ass1/.location
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.projects/SE_Ass1/.markers
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.projects/SE_Ass1/org.eclipse.egit.core/GitProjectData.properties
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.projects/SE_Ass1/org.eclipse.jdt.core/state.dat
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/impulse.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.core.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments.gen
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/2388919603.index
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/2962475601.index
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/3804718844.index
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.contributions.1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.contributors.1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.extraData.1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.mainData.1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTable.7
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTable.8
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTableLock
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.namespaces.1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.orphans.1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.extensions/.table.1
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.external_libraries/rascal_eclipse_0.9.1.201711051334/lib/rascal.jar
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/.local_targets/1511969924473.target
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.ui.intro/introstate
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Assignment2/Clone_detection/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Assignment2/Clone_detection/.metadata/version.ini
